footer {
  background-color: rgb(255, 246, 223);
  height: 250px;
  width: 1240px;
  padding-top: 15px;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}

.quicklinks {
  position: absolute;
  margin-top: 10px;
  padding-bottom: 0px;
  right: 150px;
}

.second_transparent_logo {
  position: absolute;
  display: block;
  width: 220px; 
  height: auto;
  top: 8px;
  left: 30px;
}

.telephone_icon {
  position: absolute;
  display: block;
  width: 50px; 
  height: auto;
  top: 8px;
  left: 30px;
}

.site_icon {
  position: absolute;
  display: block;
  width: 50px; 
  height: auto;
  top: 8px;
  left: 30px;
}

.f_home_button {
  position: absolute;
  color: black;
  background: none;
  border: none;
  margin-left: 600px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
} 

.f_home_button:hover {
  transform: scale(1.05);
}

.f_listings_button {
  position: absolute;
  color: black;
  background: none;
  border: none;
  margin-left: 28px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
} 

.f_listings_button:hover {
  transform: scale(1.05);
}

.f_features_button {
  position: absolute;
  color: black;
  background: none;
  border: none;
  margin-left: 28px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
} 

.f_features_button:hover {
  transform: scale(1.05);
}

.f_about_us_button {
  position: absolute;
  color: black;
  background: none;
  border: none;
  margin-left: 28px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
} 

.f_about_us_button:hover {
  transform: scale(1.05);
}

.f_contact_button {
  position: absolute;
  color: black;
  background: none;
  border: none;
  margin-left: 28px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
} 

.f_contact_button:hover {
  transform: scale(1.05);
}

.f_sign_in_button {
  position: absolute;
  color: black;
  background: none;
  border: none;
  margin-left: 28px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
} 

.f_sign_in_button {
  transform: scale(1.05);
}