footer {
  background-color: rgb(255, 246, 223);
  height: 250px;
  width: 1240px;
  padding-top: 15px;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}

.quicklinks {
  position: absolute;
  font-size: 10px;
  top: 30px;
  padding-bottom: 0px;
  right: 250px;
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1.5px; 
}

.second_transparent_logo {
  position: absolute;
  display: block;
  width: 220px; 
  height: auto;
  top: 8px;
  left: 30px;
}

.telephone_icon {
  position: absolute;
  display: block;
  width: 50px; 
  height: auto;
  top: 8px;
  left: 30px;
}

.site_icon {
  position: absolute;
  display: block;
  width: 50px; 
  height: auto;
  top: 8px;
  left: 30px;
}

.f_home_button {
  position: absolute;
  color: black;
  background: none;
  font-size: 10px;
  border: none;
  top: 80px;
  right: 275px;
  cursor: pointer;
} 

.f_home_button:hover {
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1px; 
}

.f_listings_button {
  position: absolute;
  color: black;
  background: none;
  font-size: 10px;
  border: none;
  top: 100px;
  right: 258px;
  cursor: pointer;
} 

.f_listings_button:hover {
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1px;
}

.f_features_button {
  position: absolute;
  color: black;
  background: none;
  font-size: 10px;
  border: none;
  top: 120px;
  right: 252px;
  cursor: pointer;
} 

.f_features_button:hover {
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1px;
}

.f_about_us_button {
  position: absolute;
  color: black;
  background: none;
  font-size: 10px;
  border: none;
  top: 140px;
  right: 252px;
  cursor: pointer;
} 

.f_about_us_button:hover {
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1px;
}

.f_contact_button {
  position: absolute;
  color: black;
  background: none;
  font-size: 10px;
  border: none;
  top: 160px;
  right: 256px;
  cursor: pointer;
} 

.f_contact_button:hover {
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1px;
}

.customer_care {
  position: absolute;
  font-size: 10px;
  top: 30px;
  padding-bottom: 0px;
  right: 124px;
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1.5px; 
}

.privacy_policy {
  position: absolute;
  color: black;
  background: none;
  font-size: 10px;
  border: none;
  top: 80px;
  right: 123px;
  cursor: pointer;
} 

.privacy_policy:hover {
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1px;
}

.terms_and_conditions {
  position: absolute;
  color: black;
  background: none;
  font-size: 10px;
  border: none;
  top: 100px;
  right: 80px;
  cursor: pointer;
} 

.terms_and_conditions:hover {
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1px;
}

.faq {
  position: absolute;
  color: black;
  background: none;
  font-size: 10px;
  border: none;
  top: 120px;
  right: 186px;
  cursor: pointer;
} 

.faq:hover {
  border-bottom: solid;
  border-bottom-color: rgb(246, 144, 104);
  border-bottom-width: 1px;
}
