.Section_1 {
    background-color: rgb(146, 213, 215);
    height: 400px;
    width: 1240px;
    margin: auto;
    padding-top: 80px;
    text-align: center;  
}

.text_1 {
    padding-bottom: 0px;
}

.par_1 {
    margin-top: -12px;
    font-size: 20px;
}

.start_search_button {
    font-size: 15px;
    color: black;
    background-color: rgb(246, 144, 104);
    border-color: rgb(252, 228, 153);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    margin-top: 12px;
    height: 38px;
    width: 180px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.start_search_button:hover {
    background-color: rgb(247, 133, 88);
    border-color: rgb(252, 228, 153);
    transform: scale(1.10);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.Section_2 {
    background-color: rgb(255, 246, 223);
    height: 950px;
    width: 1240px;
    margin: auto;
    padding-top: 60px;
}

.featured_listings {
    margin-top: -15px;
    margin-left: 50px;  
    margin-bottom: -20px;
    position: relative;
    z-index: 2;
}

.view_all_button {
    font-size: 20px;
    color: black;
    background: none;
    border: none;
    margin-top: 4px;
    margin-left: 1100px;
    cursor: pointer;
    border-bottom: 3px solid transparent; 
}

.view_all_button:hover {
    transform: scale(1.05);
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;       
    padding: 20px;
    margin-left: 40px;
    position: relative;
    z-index: 2;
}

.room-card {
    position: relative;
    width: 350px; 
    height: 350px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.room-card:hover {
    transform: scale(1.05);
    box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.6);
}

.room-image {
    width: 340px;
    height: 220px;
    object-fit: cover; 
    margin-top: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 16px;
}

.room-details {
    padding: 20px;
    position: relative; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.room-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: -18px;
  margin-bottom: -1px;
  color: #111111;
}

.free-label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin: 0;
}

.amenities-list {
    margin: 0;
    padding-left: 16px;
    color: #444444;
    font-size: 12px;
    line-height: 1.1;
}

.price-tag1 {
    position: absolute;
    top: 82px;
    left: 240px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.price-tag2 { 
    position: absolute;
    top: 82px;
    left: 240px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.price-tag3 {
    position: absolute;
    top: 82px;
    left: 240px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.second-card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;       
    padding: 20px;
    margin-left: 40px;
    position: relative;
    z-index: 2;
}

.second-room-card {
    position: relative;
    width: 350px; 
    height: 350px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.second-room-card:hover {
    transform: scale(1.05);
    box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.6);
}

.second-room-image {
    width: 340px;
    height: 220px;
    object-fit: cover; 
    margin-top: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 16px;
}

.second-room-details {
    padding: 20px;
    position: relative; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.second-room-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: -18px;
  margin-bottom: -1px;
  color: #111111;
}

.second-free-label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin: 0;
}

.second-amenities-list {
    margin: 0;
    padding-left: 16px;
    color: #444444;
    font-size: 12px;
    line-height: 1.1;
}

.second-price-tag1 {
    position: absolute;
    top: 82px;
    left: 240px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.second-price-tag2 {
    position: absolute;
    top: 82px;
    left: 240px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.second-price-tag3 {
    position: absolute;
    top: 82px;
    left: 240px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.Section_3 {
    background-color: rgb(254, 227, 147);
    height: 800px;
    width: 1240px;
    margin: auto;
    padding-top: 60px;
}

.reviews {
    margin-top: -15px;
    margin-left: 50px;  
    margin-bottom: -20px;
    position: relative;
    z-index: 2;
}

.reviews-container {
    top: 30px;
    display: flex;
    gap: 40px;
    overflow-x: visible; 
    padding: 20px 30px;
    position: relative;
    z-index: 2;
    animation: scrollSideways 15s linear infinite; 
}

.reviews-container::-webkit-scrollbar {
  display: none;
}

@keyframes scrollSideways {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 10px)); 
  }
}

.reviews-container:hover {
  animation-play-state: paused;
}

.review-card {
    position: relative;
    height: 300px;
    width: 400px;
    flex-shrink: 0;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}

.stars {
    position: absolute;
    top: 10px;
    right: 20px;
}

.second-reviews-container {
    top: 30px;
    display: flex;
    gap: 40px;
    overflow-x: visible;
    padding: 20px 30px;
    position: relative;
    z-index: 2;
    animation: secondScrollSideways 15s linear infinite; 
}

.second-reviews-container::-webkit-scrollbar {
  display: none;
}

@keyframes secondScrollSideways {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 10px)); 
  }
}

.second-reviews-container:hover {
  animation-play-state: paused;
}

.second-review-card {
    position: relative;
    height: 300px;
    width: 400px;
    flex-shrink: 0;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}

.second-stars {
    position: absolute;
    top: 10px;
    right: 20px;
}

.Section_4 {
    background-color: rgb(246, 144, 104);
    height: 380px;
    width: 1240px;
    margin: auto;
    padding-top: 60px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.uhoppy {
    font-family: "Berlin Sans FB Demi", sans-serif;
    margin-top: 25px;
    margin-left: 335px;
    font-size: 20px; 
    font-weight: bold;
    position: absolute;

}

.par_2 {
    margin-top: 25px;
    font-size: 20px;
}

.text_2 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.sign_up_button {
    font-size: 25px;
    color: black;
    background-color: rgb(246, 144, 104);
    border-color: rgb(254, 227, 147);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 25px;
    height: 50px;
    width: 145px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.sign_up_button:hover {
    background-color: rgb(247, 133, 88);
    border-color: rgb(252, 228, 153);
    transform: scale(1.10);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.Section_5 {
    background-color: rgb(146, 213, 215);
    height: 400px;
    width: 1240px;
    margin: auto;
    padding-top: 60px;
    text-align: center;
}

.text_3 {
    margin-top: -5px;
    padding-bottom: 0px;
}

.text_4 {
    position: absolute;
    margin-top: 170px;
    padding-bottom: 0px;
    left: 150px;
}

.text_5 {
    position: absolute;
    margin-top: 170px;
    left: 420px;

}

.text_6 {
    position: absolute;
    margin-top: 170px;
    right: 460px;
}

.text_7 {
    position: absolute;
    margin-top: 170px;
    right: 150px;
}